.flex_container.blank_page {
    lineHeight: 36px;
    fontSize: 18px;
    width: auto;
    max-width: 600px;
    marginTop: 50px;
    padding-bottom: 50px;
}

.flex_container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}



.flex_container.blank_page img.envelope {
    float: left;
    margin-right: 25px;
}

.flex_container.blank_page .content-block {
    float: left;
    max-width: 360px;
    padding-left: 15px;
}

.h1ResetPassword {
    fontSize: 30px;
    lineHeight: 36px;
    margin: 0;
    font-family: inherit;
    fontWeight: bold;
    color: inherit;
    text-rendering: optimizelegibility;

}

  .restetPassInput{
    color: #333;
    width: 95%;
    fontSize: 20px;
    width: 95%;
    height: 28px;
    lineHeight: 110%;
    marginBottom: 17px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    padding: 4px;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    

}